@import './style_pars.css';

svg text {
    font-family: Baskerville, Computer Modern, Times New Roman, serif;
    font-size: var(--font-size-small);
    stroke-width: var(--text-stroke-width);
    font-weight: 100;
    stroke: var(--color-fg);
    fill: var(--color-fg);
}

/*  ====  Plot Axes Parameters  ====  */

svg .axis {
    fill: none;
}

svg #axis_z * {
    stroke: var(--color-z);
}

svg #axis_z text, svg text#axis_z {
    fill: var(--color-z);
    stroke: var(--color-z);
}

svg #axis_d * {
    stroke: var(--color-d);
}

svg #axis_d text, svg text#axis_d {
    fill: var(--color-d);
    stroke: var(--color-d);
}

svg #axis_t * {
    stroke: var(--color-t);
}

svg #axis_t text, svg text#axis_t {
    fill: var(--color-t);
    stroke: var(--color-t);
}

/*  ====  Plot Text/Lines Parameters  ====  */

svg .line {
    stroke-width: 2.5px;
    fill: none;
    stroke: red;
}

svg .line#line_dc {
    stroke: var(--color-dc);
}

svg text#dc {
    stroke: var(--color-dc);
    fill: var(--color-dc);
}

svg text#dl {
    stroke: var(--color-dl);
    fill: var(--color-dl);
}

svg text#ta {
    stroke: var(--color-ta);
    fill: var(--color-ta);
}

svg text#tl {
    stroke: var(--color-tl);
    fill: var(--color-tl);
}

svg .line#line_dl {
    stroke: var(--color-dl);
}

svg .line#line_tl {
    stroke: var(--color-tl);
}

svg .line#line_ta {
    stroke: var(--color-ta);
}

/*  ====  Axes Grid Line Parameters  ====  */

svg .grid line {
  stroke-width: 1.0px;
  stroke-opacity: 0.35;
  shape-rendering: crispEdges;
}

svg .grid#z line {
    stroke: var(--color-z);
}

svg .grid#d line {
    stroke: var(--color-d);
}

svg .grid#t line {
    stroke: var(--color-t);
}

svg .axis tspan {
  font-size: var(--font-size-sup);
}


.overlay {
    fill: rgba(100, 100, 100, 0.2);
    stroke: none;
    pointer-events: all;
}
.focusLine {
    fill: none;
    stroke-width: 1.0px;
    stroke-dasharray: 3, 3;
    /* opacity: 0.75; */
}

#focusLine_z {
    stroke: var(--color-z);
}

#focusLine_dl {
    stroke: var(--color-dl);
}

#focusLine_dc {
    stroke: var(--color-dc);
}

#focusLine_tl {
    stroke: var(--color-tl);
}

#focusLine_ta {
    stroke: var(--color-ta);
}
