@import './style_pars.css';

svg text {
    font-size: var(--font-size-small);
    font: "Times New Roman";
    stroke-width: var(--text-stroke-width);
    font-weight: 100;
    stroke: var(--color-fg);
    fill: var(--color-fg);
}

/*  ====  Plot Axes Parameters  ====  */

svg .axis {
    fill: none;
}

svg #axis_z * {
    stroke: var(--color-z);
}

svg #axis_z text, svg text#axis_z {
    fill: var(--color-z);
    stroke: var(--color-z);
}

svg #axis_d * {
    stroke: var(--color-d);
}

svg #axis_d text, svg text#axis_d {
    fill: var(--color-d);
    stroke: var(--color-d);
}

svg #axis_t * {
    stroke: var(--color-t);
}

svg #axis_t text, svg text#axis_t {
    fill: var(--color-t);
    stroke: var(--color-t);
}

/*  ====  Plot Text/Lines Parameters  ====  */

svg .line {
    stroke-width: 2.5px;
    fill: none;
    stroke: red;
}

svg .line#dc {
    stroke: var(--color-dc);
}

svg text#dc {
    stroke: var(--color-dc);
    fill: var(--color-dc);
}

svg text#dl {
    stroke: var(--color-dl);
    fill: var(--color-dl);
}

svg text#ta {
    stroke: var(--color-ta);
    fill: var(--color-ta);
}

svg text#tl {
    stroke: var(--color-tl);
    fill: var(--color-tl);
}

svg .line#dl {
    stroke: var(--color-dl);
}

svg .line#tl {
    stroke: var(--color-tl);
}

svg .line#ta {
    stroke: var(--color-ta);
}

/*  ====  Axes Grid Line Parameters  ====  */

svg .grid line {
  stroke-width: 1.0px;
  stroke-opacity: 0.35;
  shape-rendering: crispEdges;
}

svg .grid#z line {
    stroke: var(--color-z);
}

svg .grid#d line {
    stroke: var(--color-d);
}

svg .grid#t line {
    stroke: var(--color-t);
}

svg .axis tspan {
  font-size: var(--font-size-sup);
}
