/*    ====    BASICS    ====    */
@import './style_pars.css';

* {
    padding: 0px;
	margin: 0px;
}

a {
    text-decoration: none;
    color: var(--color-fg);
}

a:hover {
    color: red;
    position: relative;
}

hr {
    width: 30%;
}

body {
	font-family: Times New Roman, serif;
	font-size: var(--font-size);
	color: var(--color-fg);
	background-color: var(--color-bg);
    padding: 10px;
	margin: auto;
}

.left-side {
    width: var(--left-width);
	float: left;
    padding: 40px 0;
    overflow: hidden;
}

/*    ====    RIGHT PANEL    ====    */

.right-side {
    width: var(--right-width);
	float: right;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 180%;
    font-size: var(--font-size-tiny);
	color: rgb(139, 139, 139);
}

.short {
    line-height: 120%;
}

#dialog {
    /* float: left;
    text-align: left; */
    font-size: var(--font-size-tiny);
	color: rgb(139, 139, 139);
}

#references {
    /* float: left; */
    /* text-align: right; */
    font-size: var(--font-size-tiny);
	color: rgb(139, 139, 139);
    /* padding: 4px 20px; */
}

form {
    /* text-align: right; */
    padding: 10px 0px;
    height: 30px;
}

span.name {
    float: left;
    width: 60px;
    text-align: right;
    padding: 0px 10px;
}

span.desc {
    width: 60px;
    font-size: var(--font-size-small);
    font-style: italic;
    letter-spacing: 0.25px;
    /* float: left; */
    text-align: left;
    padding: 0px 10px;
    color: rgb(126, 110, 170);
}

span.desc#z {
    color: var(--color-z);
}

span.desc#a {
    color: var(--color-z);
}

span.desc#dc {
    color: var(--color-dc);
}

span.desc#dl {
    color: var(--color-dl);
}

span.desc#tl {
    color: var(--color-tl);
}

span.desc#ta {
    color: var(--color-ta);
}
